{% extends 'base.html' %} {% block container %}
<h2>{{ logged }}</h2>
<p>Welcome to TinyLibrary, your very own home library cataloging application, designed to help you organize personal collections large or small.
    <ul>
        <a href="{{ url_for('create')}}">Create</a> a new entry into your collection.
        <br> <a href="{{ url_for('browse')}}">Browse</a> your current collection.
        <br> <a href="{{ url_for('filter')}}">Filter</a> your collection by type, storage location, and status.
        <br> Present to you a <a href="{{ url_for('random')}}">random</a> item from your collection.
        <br>
    </ul>
</p>
{% endblock %}