<!DOCTYPE html>
<html>

<head>
    <title>TinyLibrary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <div class="container">
        <header>
            <h1>TinyLibrary</h1>
            <p>Welcome to TinyLibrary, your very own home library cataloging application, designed to help you organize personal collections large or small.
            </p>
        </header>
        <main>{% block container %} {% endblock %}</main>
    </div>
</body>

</html>